.glitch {
  position: relative;
  margin: 0 auto;
  padding-right: 14px;
  z-index:24;
}
.glitch-before {
  position: absolute;
  margin-left: -2px;
  text-shadow: 1px 0 #EEE;
  display:inline-block;
  top: 0;
  background:white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 7s infinite linear alternate-reverse;
  z-index:23;
}
.glitch-after {
  position: absolute;
  margin-left: 2px;
  text-shadow: -1px 0 #CCC;
  top: 0;
  background-blend-mode: invert;

  display:inline-block;
  background:white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 4s infinite linear alternate-reverse;
  z-index:25;
}

@keyframes noise-anim {
  0% {
    clip: rect(52px, 9999px, 100px, 0);
  }
  5% {
    clip: rect(21px, 9999px, 17px, 0);
  }
  10% {
    clip: rect(67px, 9999px, 75px, 0);
  }
  15% {
    clip: rect(35px, 9999px, 53px, 0);
  }
  20% {
    clip: rect(13px, 9999px, 73px, 0);
  }
  25% {
    clip: rect(25px, 9999px, 1px, 0);
  }
  30% {
    clip: rect(84px, 9999px, 8px, 0);
  }
  35% {
    clip: rect(20px, 9999px, 76px, 0);
  }
  40% {
    clip: rect(24px, 9999px, 92px, 0);
  }
  45% {
    clip: rect(43px, 9999px, 50px, 0);
  }
  50% {
    clip: rect(56px, 9999px, 33px, 0);
  }
  55% {
    clip: rect(69px, 9999px, 34px, 0);
  }
  60% {
    clip: rect(97px, 9999px, 6px, 0);
  }
  65% {
    clip: rect(65px, 9999px, 75px, 0);
  }
  70% {
    clip: rect(1px, 9999px, 83px, 0);
  }
  75% {
    clip: rect(7px, 9999px, 92px, 0);
  }
  80% {
    clip: rect(20px, 9999px, 23px, 0);
  }
  85% {
    clip: rect(72px, 9999px, 66px, 0);
  }
  90% {
    clip: rect(9px, 9999px, 24px, 0);
  }
  95% {
    clip: rect(8px, 9999px, 7px, 0);
  }
  100% {
    clip: rect(70px, 9999px, 10px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(1px, 9999px, 7px, 0);
  }
  5% {
    clip: rect(91px, 9999px, 58px, 0);
  }
  10% {
    clip: rect(5px, 9999px, 16px, 0);
  }
  15% {
    clip: rect(53px, 9999px, 90px, 0);
  }
  20% {
    clip: rect(48px, 9999px, 61px, 0);
  }
  25% {
    clip: rect(19px, 9999px, 35px, 0);
  }
  30% {
    clip: rect(3px, 9999px, 97px, 0);
  }
  35% {
    clip: rect(58px, 9999px, 6px, 0);
  }
  40% {
    clip: rect(22px, 9999px, 47px, 0);
  }
  45% {
    clip: rect(42px, 9999px, 74px, 0);
  }
  50% {
    clip: rect(26px, 9999px, 44px, 0);
  }
  55% {
    clip: rect(69px, 9999px, 7px, 0);
  }
  60% {
    clip: rect(14px, 9999px, 39px, 0);
  }
  65% {
    clip: rect(26px, 9999px, 92px, 0);
  }
  70% {
    clip: rect(71px, 9999px, 80px, 0);
  }
  75% {
    clip: rect(56px, 9999px, 4px, 0);
  }
  80% {
    clip: rect(23px, 9999px, 72px, 0);
  }
  85% {
    clip: rect(94px, 9999px, 50px, 0);
  }
  90% {
    clip: rect(49px, 9999px, 21px, 0);
  }
  95% {
    clip: rect(28px, 9999px, 9px, 0);
  }
  100% {
    clip: rect(78px, 9999px, 47px, 0);
  }
}
