$rhodium: #1a3445;
$yellow:#E9C77B;
$pink: #E2B49A;
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);
@import './mixins.scss';
@import './main.scss';
@import './menu.scss';
@import './process.scss';
