@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

body {
  font-family: Quicksand;
  margin:0;
  padding:0;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: auto;

  .logo {
    position: fixed;
    top: 12%;
    font-size: 9em;
    font-family: 'EB Garamond', serif;
    color: rgba(255,255,255,0.95);
    z-index: 5;
    mix-blend-mode: overlay;
    &.back {
      color: #0e2335;
      z-index: -100;
      mix-blend-mode:unset;
    }
  }
  .tagline {
    color: #193446;
  }
}

.Site-content {
  flex: 1;

}

path {
  opacity:1;
  transform-origin: center bottom;
  transform: rotate(0deg) scale(1) translateZ(10px);
  transition: transform 300ms ease-in-out;
}
path.invisible {
  opacity: 0;
  transform: scale(0.2) translateZ(-200px);
  transition: opacity 200ms ease-in-out, transform 300ms ease-in-out;
}
#canvas-pattern {
  position: absolute;
  z-index: -2;
  top:0;
  left:0;
    margin:0;
  padding:0;

}
.flexbox-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
  height: 90vh;
  margin:0;
  padding:0;
}
.main-app-container {
  width: 900px;
  margin:auto;
}
ul
{
    list-style-type: none;
}
.mainpage {

}
#menu {
  margin-top: 50px;
  display: inline-block;
}
#menu ul li{
  font-family: akkurta,Inconsolata,monospace;
  font-weight: 100;
  font-size: 1.2em;
  margin-top: 0.5em;
  color: #333;
  &:hover {
    color:white;
    cursor:pointer;
  }
}